:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0a0a0a;
  color: white;
}

nav {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 10px;
  max-width: 1040px;
  margin: 24px auto;
}

.mainContent {
  padding: 48px;
}

.navItem.active {
  background-color: rgb(163, 163, 163);
}

.navItem:hover {
  background-color: var(--background);
  color: var(--foreground);
}

.bgImage {
  height: 300px;
  position: relative;
  width: 100%;
}

.navItem {
  color: var(--foreground);
  padding: 8px 16px;
}

h1 {
  margin: 24px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
